<?xml version="1.0" encoding="utf-8"?>
<web-app
	xmlns:xsi			="http://www.w3.org/2001/XMLSchema-instance"
	xmlns				="http://java.sun.com/xml/ns/javaee"
	xmlns:web			="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation	="http://java.sun.com/xml/ns/javaee
						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version				="2.5">


	<servlet>
		<servlet-name>IdsLab5Cloud			</servlet-name>
		<servlet-class>servlet.IdsLab5CloudServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>IdsLab5Cloud			</servlet-name>
		<url-pattern>/loginSubmit			</url-pattern>
		<url-pattern>/createAccountSubmit	</url-pattern>
		<url-pattern>/logout				</url-pattern>
		<url-pattern>/addFreind				</url-pattern>
		<url-pattern>/getFreindPage			</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>war/resourceDynamic/login.jsp		</welcome-file>
		<welcome-file>login.jsp							</welcome-file>
		<welcome-file>war/resourceStatic/*.html			</welcome-file>
		<welcome-file>war/*.jsp							</welcome-file>
		<welcome-file>war/resourceStatic/userPicture/*	</welcome-file>
	</welcome-file-list>




</web-app>



